<ng-container>
  <div class="shadow-4 text-white heroSection">
    <app-hero-section></app-hero-section>
    <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <h2>AUTOMATED VEHICLE RECOGNITION PLATFORM</h2>
          <p>
            The Vehicle Recognition Web Application is an innovative solution designed to streamline
            the process of identifying and categorizing vehicles from uploaded images. Leveraging cutting-edge
            technologies, the application will provide users with an intuitive and efficient tool to recognize
            various types of vehicles, such as cars, vans, buses, planes, etc. The system will utilize a
            user-friendly frontend developed in Angular or React, coupled with a robust Python-based backend
            for accurate and real-time vehicle recognition.
          </p>

          <hr class="my-4"/>

          <div class="">
            <p>Try now ->
              <a (click)="navigateTo('cctv')" class="btn btn-outline-light mx-2">CCTV</a>
              <a (click)="navigateTo('media')" class="btn btn-outline-light mx-2">Media</a>
            </p>

          </div>

        </div>
        <div class="col-2"></div>
        <div class="col-6">
          <img src="assets/images/main-dye.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="py-5 container">
      <div class="row py-lg-5">
        <div class="col-4 mx-auto">
          <h4 class="fw-bold">FEATURES</h4>
          <hr class="divider my-4">
          <h5>CLASSIFIED VEHICLE COUNT</h5>
          <p>Every different type of vehicle will be classified separately.</p>
          <p>Pedestrians can also be classified. Categories included are:</p>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Category</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Car</td>
              </tr>
              <tr>
                <td>Van</td>
              </tr>
              <tr>
                <td>Motorcycle</td>
              </tr>
              <tr>
                <td>Truck</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-6 pt-5">
          <img src="assets/images/vehicle-count.png" alt="Trafflytic Vehicle Classification" class="img-fluid rounded-3 pt-5">
        </div>
      </div>
    </section>
  </div>

</ng-container>
