<nav class="navbar navbar-expand-lg the-blur">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/images/navbar-logo.png" alt="Logo" width="150" height="50" class="d-inline-block align-text-top">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" aria-current="page">Home</a>
        <a class="nav-link" [routerLink]="['/cctv']" routerLinkActive="active">CCTV</a>
        <a class="nav-link" [routerLink]="['/media']" routerLinkActive="active">Media</a>
        <a class="nav-link disabled" aria-disabled="true">About</a>
      </div>
    </div>
  </div>
</nav>
